@inject IGetTodayTransactionUseCases GetTodayTransactionUseCases

@if (trans  != null)
{
<table class="table" style="">
        <thead>
            <tr>
                <th>收銀員</th>
                <th>商品名稱</th>
                <th>時間</th>
                <th>在庫量</th>
                <th>出庫量</th>
                <th>剩餘量</th>
                <th>價格</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var tran in trans )
            {
            <tr>
                <td>@tran.CashierName</td>
                <td>@tran.ProductName</td>
                <td>@tran.TimeStamp.ToString("MM/dd HH:mm:ss")</td>
                <td>@tran.Beforeqt</td>
                <td>@tran.Soldqt</td>
                <td>@(tran.Beforeqt - tran.Soldqt)</td>
                <td>@(string.Format("{0:c}", tran.Soldqt * tran.Price))</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Transaction> trans;
    public void LoadTransactions(string cashierName)
    {
        trans  = GetTodayTransactionUseCases.Execute(cashierName);
        StateHasChanged();
    }
}
